sdf-sphere,
sdf-box,
sdf-text {
    --z: 10rem;
    --depth: 20rem;
    --extrude: 0.2rem;

    --ambient-color: rgb(100, 110, 110);
    --ambient-color: white;
    --diffuse-color: var(--color-bg);
    --diffuse-color: var(--color-accent);
    --specular-color: white;
    --kd: 1;
    --ka: 0;
    --ks: 1;
    --p: 500;

    display: block;
}

sdf-text {
    --letterSmoothness: 0.1rem;
}

#page-content-container {
    --z: 0rem;
    --depth: 100rem;
    --diffuse-color: var(--color-bg);
    /* --p: 10;
    --ks: 0.2; */
}

#cursor {
    --z: 10rem;
    --r: 5em;
    --depth: 1rem;
    transition: --r var(--transition-params-long), --z var(--transition-params-long), --extrude var(--transition-params-long);
}

.cursor-away {
    --z: 25rem !important;
    --r: 0rem !important;
    --extrude: 0rem !important;
}

.header-link-sdf-box,
.timeline-header-items {
    --diffuse-color: var(--color-bg-light);
}

.header-link-sdf-box:hover,
.timeline-header-items:hover {
    --diffuse-color: var(--color-accent);
}

.header-link-sdf-negative-box {
    --diffuse-color: var(--color-bg-light);
}

#title-text-container {
    position: relative;
}

#title-text {
    --depth: 1.5rem;
}

#title-text-twist-target {
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    left: -21rem;
    --z: 9.25rem;

    --twist-axis: 1 0 0;
    --twist-rate: 0.05;
    --twist-start: 19rem;
    --twist-end: 21rem;
    --twist-start-offset: 180;

    width: 0rem;
    height: 0rem;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Define the movement */
@keyframes slideRight {
    0% {
        left: -21rem;
    }

    100% {
        left: calc(100% + 21rem);
    }
}

.title-text-twist-target-right {
    /* Apply the animation over 4 seconds, moving forwards */
    /* You can change "ease" to "linear" if you want a constant speed */
    animation: slideRight 1.5s cubic-bezier(0.504, 0.037, 0.853, 0.513) forwards;
}

.light {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#light-1 {
    --diffuse-color: white;
    --z: 10rem;
    --light-type: directional;
    --light-direction: 0.5 0.5 -1;
    --light-intensity: 0.75;
    --light-radius: 10rem;
}

#light-2 {
    --diffuse-color: white;
    top: 10rem;
    left: 50%;
    --z: 10rem;
    --light-type: directional;
    --light-direction: -0.5 0.5 -1;
    --light-intensity: 0.5;
    --light-radius: 100rem;
}


/*
    Used to pass color information into the background shader
*/
#light-3 {
    --diffuse-color: var(--color-bg-dark);
    top: 10rem;
    left: 50%;
    --z: 0rem;

    --light-type: point;
    --light-intensity: 0.5;
    --light-radius: 0.2rem;
}

#light-4 {
    --diffuse-color: var(--color-accent);
    top: 10rem;
    left: 50%;
    --z: 0rem;

    --light-type: point;
    --light-intensity: 0.5;
    --light-radius: 0.2rem;
}