* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: metaballs;
    src: url(../sdf-ui/src/style/fonts/metaball.ttf);
}

@font-face {
    font-family: monospace-font;
    src: url(../assets/fonts/JetBrainsMono-Regular.woff2);
}

@font-face {
    font-family: text-font;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

:root {
    /* Structural things */
    --central-column-width: 55%;
    --central-column-max-width: 80rem;
    --central-content-max-width: 60rem;
    --header-item-height: 3rem;

    --text: 1rem "text-font";
    --heading: 1.5rem "text-font";
    --text-monospace: 1rem "monospace-font";

    --size-xxs: 0.1rem;
    --size-xs: 0.2rem;
    --size-s: 0.5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 2rem;
    --size-xxl: 4rem;

    --spacing-xs: 6rem;
    --spacing-s: 8rem;
    --spacing-m: 16rem;
    --spacing-l: 20rem;
    --spacing-xl: 35rem;

    --text-padding: var(--size-s) var(--size-l);
    --transition-params: 0.2s cubic-bezier(0.3, 0.8, 0.2, 1.3);
    --transition-params-ease: 0.2s ease-in-out;
    --transition-params-long: 0.3s cubic-bezier(0.3, 0.8, 0.2, 1.3);

    --total-header-height-no-sdf: calc(var(--header-item-height) + 2 * var(--size-l));
    --total-header-height: calc(var(--header-item-height) + var(--size-l) + var(--size-xl));

    /* Colors */
    /* lighness [0, 1], chroma (saturation) [0, 0.4], hue [0°, 360°]*/
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/oklch */
    --color-bg-extra-dark: oklch(0.05 0 0);
    --color-bg-dark: oklch(0.1 0.0021 286.15);
    --color-bg: oklch(0.1548 0.0021 286.15);
    --color-bg-light: oklch(0.2578 0.0074 285.87);
    --color-bg-selected: oklch(0.2 0.0074 285.87);
    --color-bg-hover: oklch(0.3 0.0074 285.87);
    --color-bg-active: oklch(0.4 0.0074 285.87);

    --color-text: oklch(0.96 0 0);
    --color-text-muted: oklch(0.76 0 0);
    --color-highlight: oklch(0.5 0 0);

    --color-accent: rgb(255, 42, 0);

    --color-border: oklch(0.3578 0.0074 285.87);
    --border: 1px solid var(--color-border);
    --border-muted: oklch(0.3 0 0);

    --primary: oklch(0.76 0.1 307);
    --secondary: oklch(0.76 0.1 127);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
}

body {
    overflow-x: hidden;
}

body.light-theme {
    --color-bg-extra-dark: oklch(0.98 0.001 286.15);
    --color-bg-dark: oklch(0.95 0.0021 286.15);
    --color-bg: oklch(0.92 0.0021 286.15);
    --color-bg-light: oklch(0.88 0.005 285.87);
    --color-bg-selected: oklch(0.87 0.0074 285.87);
    --color-bg-hover: oklch(0.82 0.005 285.87);
    --color-bg-active: oklch(0.75 0.005 285.87);

    --color-text: oklch(0.15 0.0021 286.15);
    --color-text-muted: oklch(0.45 0.0021 286.15);
    --color-highlight: oklch(0.3 0.0021 286.15);

    --color-accent: rgb(220, 30, 0);

    --color-border: oklch(0.80 0.005 285.87);
    --border-muted: oklch(0.88 0.003 285.87);

    --primary: oklch(0.55 0.15 307);
    --secondary: oklch(0.55 0.15 127);
    --danger: oklch(0.5 0.15 30);
    --warning: oklch(0.6 0.15 100);
    --success: oklch(0.45 0.15 160);
    --info: oklch(0.5 0.15 260);
}

/*╔══════════════════════════════════════════════════════════╗*/
/*║                    General Styles                        ║*/
/*╚══════════════════════════════════════════════════════════╝*/
a {
    text-decoration: none;
}

button,
.button {
    background-color: var(--color-bg-light);
    font: var(--text);
    color: var(--color-text);
    padding: var(--text-padding);
    border-radius: var(--size-m);
    border: var(--border);
}

.text {
    font: var(--text);
    color: var(--color-text);
}

.text-muted {
    font: var(--text);
    color: var(--color-text-muted);
}

.display-none {
    display: none !important;
}

canvas {
    image-rendering: pixelated;
    pointer-events: none;
}

/*╔══════════════════════════════════════════════════════════╗*/
/*║                     Fixed Elements                       ║*/
/*╚══════════════════════════════════════════════════════════╝*/
#fps {
    position: fixed;
    top: 0;
    color: var(--color-text);
    padding: var(--size-s);
    font: var(--text-monospace);
    z-index: 100;
    left: 0;
}


#cursor {
    position: fixed;
    pointer-events: none;

    top: 0;
    left: 0;

    width: 5rem;
    height: 5rem;
    z-index: 10;

    border-radius: 1px;

    transform-origin: right center;
}

.appearance-settings-container {
    position: fixed;
    top: var(--size-l);
    right: var(--size-l);
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    z-index: 100;
}

/* Header */
.header {
    position: fixed;
    top: var(--size-l);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 99;
}

#header-link-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    transition: all 0.1s;
}

.header-link-sdf-box.compiling {
    background-color: var(--color-bg-light) !important;
}

.hide-header {
    opacity: 0;
    pointer-events: none;
}

/*╔══════════════════════════════════════════════════════════╗*/
/*║                      Main Layout                         ║*/
/*╚══════════════════════════════════════════════════════════╝*/
#sdf-canvas,
#content-stencil-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
}

#sdf-canvas {
    width: 100%;
}

#page-content-container {
    position: relative;
    border-left: var(--border);
    border-right: var(--border);
    top: 0;
}

#page-content-container,
#content-stencil-canvas {
    left: 50%;
    transform: translateX(-50%);
    width: var(--central-column-width);
    max-width: var(--central-column-max-width);
}

#page-content-container.no-sdf {
    background-color: var(--color-bg);
}

body {
    background-color: var(--color-bg-extra-dark);
}

.section-container {
    position: relative;
    width: 100%;
    max-width: var(--central-content-max-width);

    left: 50%;
    transform: translateX(-50%);

    top: 0;
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    padding: 0 var(--size-xxl);
    margin-bottom: var(--spacing-xs);

    container-type: inline-size;
}

.section-container-spacer {
    position: absolute;
    left: 0;
    top: calc(-1 * var(--total-header-height))
}

.section-container-spacer.no-sdf {
    top: calc(-1 * var(--total-header-height-no-sdf))
}

/*╔══════════════════════════════════════════════════════════╗*/
/*║                         About                            ║*/
/*╚══════════════════════════════════════════════════════════╝*/
.about-container {
    justify-content: center;
    height: 100vh;
    padding-top: 0;
}

#title-text {
    white-space: nowrap;
    font-size: 46cqw;
    /* container query width */
    padding-left: 2.5cqw;

    z-index: 100;
    text-align: center;
    line-height: 20rem;
    cursor: pointer;
}

#title-text.no-sdf {
    color: var(--color-text) !important;
    cursor: text;
}

.about-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--size-m);
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin-top: var(--size-xl);
    padding-right: 0.5rem;
}

.about-section-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--size-s);
    height: auto;
}

.main-info {
    text-wrap: all;
    font-size: 1.1rem;
}

.personal-information-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-m);
}

.personal-info {
    display: flex;
    align-items: center;
    gap: var(--size-s);
}

.about-section-links {
    display: flex;
    gap: var(--size-l);
    justify-self: end;
}

.icon-link {
    width: var(--size-l);
    height: var(--size-m);
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
    /* Masks require a height! */
    justify-self: end;

    background-color: var(--color-text);

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.icon-link:hover {
    cursor: pointer;
}

.mail-icon {
    mask-image: url("../assets/icons/Gmail.svg");
    -webkit-mask-image: url("../assets/icons/Gmail.svg");
}

.github-icon {
    mask-image: url("../assets/icons/GitHub.svg");
    -webkit-mask-image: url("../assets/icons/GitHub.svg");
}

.youtube-icon {
    mask-image: url("../assets/icons/YouTube.svg");
    -webkit-mask-image: url("../assets/icons/YouTube.svg");
}

.cv-icon {
    mask-image: url("../assets/icons/CV.svg");
    -webkit-mask-image: url("../assets/icons/CV.svg");
}

/*╔══════════════════════════════════════════════════════════╗*/
/*║                        Timeline                          ║*/
/*╚══════════════════════════════════════════════════════════╝*/
#timeline-header {
    display: flex;
    justify-content: center;
    gap: var(--size-xl);
    margin-bottom: var(--size-xl);
}

#timeline-header.no-sdf {
    gap: var(--size-l);
}

.timeline-header-items {
    flex-grow: 1;
    text-align: center;
}

.timeline-content-container {
    position: relative;
}

.timeline-content {
    display: grid;
    grid-template-columns: [date] auto [line] auto [card] auto;
    gap: var(--size-m);
    row-gap: var(--size-l);
    position: absolute;
    align-items: baseline;
    padding: var(--text-padding);
    /* transition: filter 0.0s ease, display 0.0s allow-discrete; */
}

.timeline-content.hidden {
    display: none;
    filter: blur(var(--size-l));
}

.timeline-content.active {
    display: grid;
    filter: blur(0px);

    /* @starting-style {
        filter: blur(var(--size-l));
    } */
}

.timeline-line {
    grid-column: line;
    justify-self: center;

    position: absolute;
    top: 0;
    bottom: 0;

    background: var(--color-text);
    width: var(--size-xxs);
    border-radius: calc(var(--size-xxs) / 2);
}

.timeline-education-title {
    font-style: italic;
    /* color: var(--color-accent); */
}

/*╔══════════════════════════════════════════════════════════╗*/
/*║                        Compiling                         ║*/
/*╚══════════════════════════════════════════════════════════╝*/
*.compiling::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background-color: var(--color-text);
    -webkit-mask-image: url(../assets/images/compiling-background.svg);
    mask-image: url(../assets/images/compiling-background.svg);
    -webkit-mask-size: var(--spacing-s);
    mask-size: var(--spacing-s);
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
}

/*╔══════════════════════════════════════════════════════════╗*/
/*║                      Media Queries                       ║*/
/*╚══════════════════════════════════════════════════════════╝*/
@media (max-width: 100em) {

    #page-content-container,
    #content-stencil-canvas {
        width: 100%;
    }
}

@media (max-width: 60em) {
    :root {
        --total-header-height-no-sdf: calc(2 * var(--header-item-height) + var(--size-m) + 2 * var(--size-l));
        --total-header-height: calc(2 * var(--header-item-height) + var(--size-l) + 2 * var(--size-xl));
    }

    #header-link-container {
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        top: 0;
        gap: var(--size-xl);
        right: calc(var(--header-item-height) + 2 * var(--size-l))
    }

    #header-link-container.no-sdf {
        gap: var(--size-m);
    }
}

@media (max-width: 45em) {
    .timeline-date-group .text-muted {
        display: block;
        /* Forces the year text onto a new line */
    }
}

@media (max-width: 30em) {
    :root {
        --total-header-height-no-sdf: var(--size-l);
        --total-header-height: var(--size-l);
    }

    #header-link-container {
        grid-template-columns: 1fr;
        position: absolute;
        top: 0;
        gap: var(--size-xl);
        right: calc(var(--header-item-height) + 2 * var(--size-l))
    }

    #header-link-container.no-sdf{
        gap: var(--size-m);
    }

    .section-container {
        padding: 0 var(--size-xl);
    }

    #title-text {
        white-space: wrap;

        font-size: 75cqw;
        line-height: 65cqw;
        padding-left: 3cqw;
    }

    #timeline-header.no-sdf {
        gap: var(--size-s);
    }

    .timeline-content-container {
        position: relative;
        padding: 0;
    }

    .timeline-content {
        display: grid;
        grid-template-columns: [date] auto [card] auto;
        gap: var(--size-m);
        row-gap: var(--size-l);
        padding: 0;
    }

    .timeline-line,
    .timeline-dot {
        display: none;
    }
}